@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
}
html, body{
    height: 100%;
    transition: 0.5s ease-in-out;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(10deg, #0cd116, #33beff);
    background-size: 200% 200%;
}
.calculator{
    display: grid;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    height: 500px;
    background-color: #2c2c2c;
    box-shadow: 5px 20px 25px rgba(0, 0, 0, 0.5);
}

.display{
    display: flex;
    color: rgb(0, 0, 0);
    grid-row: 1/2;
    grid-column: 1/5;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    margin-bottom: 10px;
    align-items: center;
}

button{
    border-radius: 20px;
    margin: 3px;
    border: none;
    color: white;
    background-color: #2c2c2c;
}

button:hover{
    color: white;
    background-color: rgb(112, 112, 112);
}


.b16{
    grid-row: 5/7;
    grid-column: 4/5;
}

.b17{
    grid-row: 6/7;
    grid-column: 1/3;
}

