*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
display: flex;
height: 100%;
flex-direction: row;
}

.leftContainer{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rightContainer{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button{
    width: 100px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    color: white;
}

.box{
width:300px;
height: 300px;
border-radius: 20px;
}

#Monday{
    background-color:rgb(66, 66, 66);
}

#Tuesday{
    background-color: rgb(207, 3, 3);

}

#Wednesday{
    background-color: rgb(196, 178, 20);
}

#Thursday{
    background-color:  rgb(24, 117, 15);

}

#Friday{
    background-color: rgb(0, 26, 255);

}

#Saturday{
    background-color:  rgb(212, 0, 255);
}

#Sunday{
    background-color: rgb(189, 58, 6);
}


/*HOVER*/

#Monday:hover{
    background-color:rgb(0, 0, 0);
    transform: scale(1.2, 1.2);
    transition: ease-out;
}

#Tuesday:hover{
    background-color: rgb(161, 6, 6);
    transform: scale(1.2, 1.2);
    transition: ease-out;
}

#Wednesday:hover{
    background-color: rgb(153, 139, 12);
    transform: scale(1.2, 1.2);
    transition: ease-out;

}

#Thursday:hover{
    background-color:  rgb(14, 75, 9);
    transform: scale(1.2, 1.2);
    transition: ease-out;
}

#Friday:hover{
    background-color: rgb(1, 17, 163);
    transform: scale(1.2, 1.2);
    transition: ease-out;

}

#Saturday:hover{
    background-color:  rgb(152, 8, 180);
    transform: scale(1.2, 1.2);
    transition: ease-out;
}

#Sunday:hover{
    background-color: rgb(143, 44, 6);
    transform: scale(1.2, 1.2);
    transition: ease-out;
}

#boxColor{
    border: 5px solid black;
}